.content{
    background: #f0f2f5;
    height: 720px;
    width: 100%;
    
}
.footer{
    background: #ffff;
    height: 200px;
    width:100%;
}
body{
    margin: 0;
}
.logo {
    text-align: center;
    width: 19%;
    height: 141px;
    margin-left: 17%;
    margin-top: 10%;
}
.text{
    color: #1c1e21;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin-top: -29px;
    margin-left: 19%;
}
.form{
    background:#ffff;
    width: 350px;
    height:300px;
    float: right;
    margin-right: 19%;
    margin-top: -15%;
    line-height: 1.34;
    padding: 30px;
    border-radius: 6px;
    border-style: unset;
    border-color: linear gray;
    border:2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.txt{
    height: 40px;
    border: 1px;
    border-style: solid;
    border-radius: 6px;
    width: 337px;
    border-color:#dddfe2;
    font-size: 17px;
    line-height:16px;
    border-spacing: 10px;
    vertical-align: middle;
}
.id{
    color: white;
    background: blue;
    cursor: pointer;
}
.id:hover{
    background:rgb(24, 69, 167);
}
#id{
    color:#ffff;
    width:200px;
    height: 40px;
    vertical-align: center;
    background: 1px;
    background: #42b72a;;
   margin-left :78px; 
   cursor: pointer;
}